<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/aboutpython.css">
    <title>About Python Original</title>
</head>
<body>
    <main class="outerBox">
            <img class="outerBox_img" src="/static/img/project_snippets/aboutpython_original.png" alt="aboutPython_original_image">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="/aboutpython_proj">Back to Styling Copy</a>
    </main>
</body>
</html>