<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Belt Exam Main Preview</title>
</head>
<body>
    <main class="outerBox_bemp">
            <img class="belg_prev" src="/static/img/project_snippets/beltExam_loginreg.png" alt="dojo_tweet_loginreg_preview">
            <img class="bemp_prev1" src="/static/img/project_snippets/beltExam_main.png" alt="dojo_tweet_main_preview">
            <img class="bemp_prev2" src="/static/img/project_snippets/beltExam_quoteDetails.png" alt="dojo_tweet_main_preview">
            <img class="bemp_prev3" src="/static/img/project_snippets/beltExam_editAcct.png" alt="dojo_tweet_main_preview">
            <img class="bemp_prev4" src="/static/img/project_snippets/beltExam_erd.png" alt="dojo_tweet_main_preview">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="https://github.com/NDenning78/Copies_of_Code_for_Show/blob/master/belt_exam_copy2/server.py">See Code on GitHub</a>
    </main>
</body>
</html>