<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Dojo tweet Main Preview</title>
</head>
<body>
    <main class="outerBox_dsmp">
            <img class="dsm_prev" src="/static/img/project_snippets/dojo_survey_index.png" alt="dojo_survey_main">
            <img class="dsr_prev" src="/static/img/project_snippets/dojo_survey_results.png" alt="dojo_survey_results">
            <img class="dscp_prev" src="/static/img/project_snippets/dojo_survey_pythoncode.png" alt="dojo_survey_code_preview">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="https://github.com/NDenning78/Copies_of_Code_for_Show/blob/master/DojoSurvey_nrd/server.py">View Code on GitHub!</a>
    </main>
</body>
</html>