<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Jayne Doe Portfolio by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/Portfolio_JayneDoe.css">
    <title>Portfolio Jayne Doe Original</title>
</head>
<body>
    <main class="outerBox">
            <img src="/static/img/Portfolio_JDoe/portfolio_assignment_(1)-1.png" alt="jayneDoe_original_image">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="/jayneDoe_proj">Back to Styling Copy</a>
    </main>
</body>
</html>