<!-- Title: NRD Portfolio Main HTML
     Coder: Neil Denning -->

<!-- R&eacute;sum&eacute;-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta name="description" content="My Portfoilio IdeaOne (nrd)"> -->
    <meta name="description" content="Neil Denning's Portfolio">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">

    <title>Neil Denning's Portfolio</title>

    <!-- There should always be 2 script tags..1 to link. 2 to state JS and to get document ready.-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='static/js/my_portfolio.js')}}"></script> -->
    <!-- This is the script tag with jQuery link!!-->
    <!-- // The JS and jQuery seem to live inside the document function.-->
    <script type="text/javascript">
        $(document).ready(function(){

            // alert("Welcome To Neil Denning's Portfolio!!")
            
            // $('nav').click(function(){alert("You have clicked a button!")});
            
            // $('a').click(function(){alert('you are now leaving this page')});

            
            // Effects methods toggle the visiblility property of the item
        });        
    </script>
    

</head>
<body onload=display_ct();>

    <main id="container">
        <header>
            <h5 id='ct'></h5>
            <h1>Neil Denning</h1>
            <h2>Full Stack Python Developer</h2>
        </header>
        <nav>
            <ul>            
                <li class="dropdown">
                    <button class="dropbtn">HTML5 | CSS3</button>
                    <div class="dropdown_content">
                        <a href="/jayneDoe_proj">Jayne Doe R&eacute;sum&eacute;</a>
                        <a href="/aboutPython_proj">About Python</a>                       
                        <a href="/internet_proj">Internet</a>
                        <a href="/modernize_proj">Modernize</a>
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">Algorithms</button>
                    <div class="dropdown_content">
                        <a href="My_Samples/Portfolio_JayneDoe/Portfolio_JayneDoe(html).html">JavaScript</a>
                        <a href="My_Samples/AboutPython/AboutPython(Optional_nrd).html">Python</a>                       
                    </div>
                </li>

                <li class="dropdown">
                    <button class="dropbtn">Python Projects</button>
                    <div class="dropdown_content">
                        <a href="/">Coming Soon!!</a>

                    </div>
                </li>
                <li class="dropdown">
                    <button class="dropbtn">Databases </button>  
                    <div class="dropdown_content">
                        <a href="/backend_proj">MySQL Workbench</a>
                        <a href="/backend_proj">SQLite</a>                       
                    </div>       
                </li> 
            </ul>
        </nav>
            <div class="about_me">
                <div  class="short_bio" >
                    <h3>About Me</h3>
                    <p>My name is Neil Denning and I am highly energetic with apositive attitude and solid core values such as respect andintegrity. I am a slight thrill seeker with hobbies likeskydiving and am passionate about music and coding! You canexpect my high-energy to be present with enthuasism for allprojects. </p>

                    <p>I am currently making a career change to technology with 15+ years as a recording engineer in Los Angeles and I'vedecided to pursue software development focusing on Python fullstack, which includes a variety of technologies that I'vedemonstrated here on my portfolio. On this page you will findmy recent projects in static form. Dynamic projects withfunctioning databases, front-end and back-end coming soon!</p>
                    <br/>
                    <div class="skill_box">
                            <h3>Transferable Skills</h3>
                            <ul>
                                <li>Team oriented</li>
                                <li>High aptitude for learning</li>
                                <li>Ability to problem solve and recognize patterns</li>
                                <li>Strong leadership</li>
                                <li>Great communication and customer service</li>
                                <li></li>
                                <li>Skill Placeholder</li>
                                <li>Skill Placeholder</li>
                            </ul>
                        </div>
        
                        <div class="skill_box">
                            <h3>Computer Skills</h3>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <li>Python</li>
                                <li>Flask</li>
                                <li>MySQL | SQLite</li>
                                <li>Git | GitHub</li>
                            </ul>
                        </div>
        
                        <div class="skill_box">
                            <h3>More Skills</h3>
                            <ul>
                                <li>Terminal Basics</li>
                                <li>MS-Office</li>
                                <li>Excel</li>
                                <li>Adobe Ps, Ae, Pr</li>
                                <li>OOP</li>
                                <li>ORM</li>
                                <li>Modularization</li>
                            </ul>
                        </div>
                </div>

                

            </div>

            <section>
                <div class="project_preview"">
                    <h3>Project Preview</h3>  
                    <div class="mini_preview" >
                        <h3>Styling Copy</h3>
                        <a href="/internet_proj"><img class="img_prev_1d" src="/static/img/project_snippets/internet_nrd.png" alt="internet_image"></a>
                    </div>
                    <div class="mini_preview" >
                        <h3>Styling Copy</h3>
                        <a href="/jayneDoe_proj"><img  class="img_prev_1d"  src="/static/img/project_snippets/jayneDoe_nrd.png" alt="jayneDoe_image"></a>
                    </div>
                    <div class="mini_preview" >
                        <h3>Styling Copy</h3>
                        <a href="/aboutPython_proj"><img class="img_prev_1d"   src="/static/img/project_snippets/aboutPython_original.png" alt="about_python_image"></a>
                    </div>                
                </div>
                <div class="project_preview"">
                    <h3>Project Preview</h3>  
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <img class="img_prev_1" src="/static/img/project_snippets/dojo_survey_index.png" alt="survey_index">
                    </div>
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <img class="img_prev_2"  src="/static/img/project_snippets/dojo_survey_results.png" alt="survey-results">
                    </div>
                    <div class="mini_preview" >
                        <h3>Python Code</h3>
                        <img class="img_prev_3"  src="/static/img/project_snippets/dojo_survey_pythonCode.png" alt="survey_python_code">
                    </div>                
                </div>
                <div class="project_preview"">
                    <h3>Project Preview</h3>  
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <a href="/dojo_tweet_main_preview"><img class="img_prev_1"  src="/static/img/project_snippets/dojo_tweets_loginreg.png" alt="dojo_tweet_loginreg"></a>
                    </div>
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <a href="/dojo_tweet_main_preview"><img class="img_prev_2b"  src="/static/img/project_snippets/dojo_tweets_main.png" alt="dojo_tweet_main"></a>
                    </div>
                    <div class="mini_preview" >
                        <h3>Python Code</h3>
                        <a href="/dojo_tweet_code_preview"><img class="img_prev_3"  src="/static/img/project_snippets/dojo_tweet_python_html.png" alt="dojo_tweet_python_html"></a>
                    </div>                
                </div>
                <div class="project_preview"">
                    <h3>Project Preview</h3>  
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <a href="/belt_exam_main_preview"><img class="img_prev_1" src="/static/img/project_snippets/beltExam_loginreg.png" alt=""></a>
                    </div>
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <a href="/belt_exam_main_preview"><img class="img_prev_2c" src="/static/img/project_snippets/beltExam_main.png" alt=""></a>
                    </div>
                    <div class="mini_preview" >
                        <h3>ERD</h3>
                        <a href="/belt_exam_main_preview"><img class="img_prev_3" src="/static/img/project_snippets/beltExam_erd.png" alt=""></a>
                    </div>                
                </div>
                <div class="project_preview"">
                    <h3>Project Preview</h3>  
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <img src="" alt="">
                    </div>
                    <div class="mini_preview" >
                        <h3>Code</h3>
                        <img src="" alt="">
                    </div>
                    <div class="mini_preview" >
                        <h3>ERD</h3>
                        <img src="" alt="">
                    </div>                
                </div>
                <div class="project_preview"">
                    <h3>Project Preview</h3>  
                    <div class="mini_preview" >
                        <h3>Render</h3>
                        <img src="" alt="">
                    </div>
                    <div class="mini_preview" >
                        <h3>Code</h3>
                        <img src="" alt="">
                    </div>
                    <div class="mini_preview" >
                        <h3>ERD</h3>
                        <img src="" alt="">
                    </div>                
                </div>
            </section>
            <!-- <aside>
                <p class="article_link_1">Article Link- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi asperiores perferendis velit nam molestias harum at voluptas animi itaque! Distinctio voluptates amet officia suscipit doloribus ipsam iusto quisquam? Reiciendis, delectus? </p>
                <p class="article_link_1">Article Link- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi asperiores perferendis velit nam molestias harum at voluptas animi itaque! Distinctio voluptates amet officia suscipit doloribus ipsam iusto quisquam? Reiciendis, delectus? </p>
                   
            </aside> -->
    
        <footer id="img_footer">
            <img class="img_python" src="/static/img/Language_images/HTML.png" alt="HTML_img">
            <img class="img_python" src="/static/img/Language_images/CSS.png" alt="CSS_img">
            <img class="img_python" src="/static/img/Language_images/JavaScript.png" alt="JavaScript_img">
            <img class="img_python" src="/static/img/Language_images/python.png" alt="Python_img">
            <img class="img_python" src="/static/img/Language_images/github.png" alt="GitHub_img">
            <img class="img_python" src="/static/img/Language_images/mysql.png" alt="MySQL_img">
          
        </footer>
    </main>  
    <script type="text/javascript"> 
        function display_c(){
        var refresh=1000; // Refresh rate in milli seconds
        mytime=setTimeout('display_ct()',refresh)
        }
        
        function display_ct() {
        var x = new Date()
        document.getElementById('ct').innerHTML = x;
        display_c();
         }
    </script>      
</body>
</html>