<!-- Modernize -->
<!-- Neil Denning -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Re-Create Modernize Graphic">
        <link rel="stylesheet" href="/static/css/modernize.css">
        <title>Modernize</title>
    </head>
    <body>
        <a href="/">Return Home</a>
        <div id="wrapper">
            <header>
                <img class="img_modernize_logo" src="modernize/logo.png" alt="modernize_logo">
                <p class="call_us">Call Us: (66)8 234 678</p>
            </header>
            <nav>
                <ul>
                    <li><a href="https://www.google.com">Home</a></li>               
                    <li><a href="https://www.google.com">Blog</a></li>               
                    <li><a href="https://www.google.com">Portfolio</a></li>                
                    <li><a href="https://www.google.com">Shortcodes</a></li>                
                    <li><a href="https://www.google.com">Features</a></li>               
                    <li><a href="https://www.google.com">Contact</a></li>
                </ul>            
            </nav>

            <img id="img_main_pic" src="modernize/main_pic.png" alt="main_pic">

            <img class="img_content_icon" src="modernize/content_icon1.png" alt="content_icon1">

            <div class="top_4_p">             
                <h3>Ridiculus Ornare</h3>
                <p class='p1'>Aenean eu leo quam. Pellen tesque ornare sem lacinia qua venenatis 
                    vestibulum.</p>
            </div>

            <img class="img_content_icon" src="modernize/content_icon2.png" alt="content_icon2">

            <div class="top_4_p">             
                <h3>Ipsum Pursus</h3>
                <p class='p1'>Integer posuere erat a ante ven enatis dapibus posuere velit aliquet
                    aenean.</p>
            </div>

            <img class="img_content_icon" src="modernize/content_icon3.png" alt="content_icon3">

            <div class="top_4_p">             
                <h3>Tellus Quam</h3>
                <p class='p1'>Aenean eu leo quam. Pellen tesque ornare sem lacinia quam venenatis.</p>
            </div>

            <img class="img_content_icon" src="modernize/content_icon4.png" alt="content_icon4">

            <div class="top_4_p">             
                <h3>Sem Egestas</h3>
                <p class='p1'>Aenean eu leo quam. Pellen tesque ornare sem lacinia quam venenatis.</p>
            </div>

            <div class="mid_p_and_button">
                <div class="mid_p">
                    <h2>Bibendum Fusce Vehicula Ullamcorper Fermentum</h2>
                    <p class="p2">Praesent commodo cursus magna, vel scelerisque nisl consectetur
                        et. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus
                        ac cursus commodo, tortor mauris.
                    </p>
                </div>

                <input class="buy_now_button" type="submit" value="Buy Now">
            </div>
        
            <div class="portfolio_box">
                <h4>Portfolio</h4>
                <a class="view_all_projects">View All Projects<span>&rarr;</span></a>

                <div class="portfolio_content_boxes">
                    <img class="img_portfoilio1-4" src="modernize/portfolio1.png" alt="portfoilio1">
                    <h6>Built-in Shortcode</h6>
                    <p class="p3">You can easily use Shortcode via icons in text editor. Easy! Cras mattis
                        consectetur purus sit amet fermentum. Vestibulum id ligula porta felis 
                        euismo
                    </p>
                </div>

                <div class="portfolio_content_boxes">
                    <img class="img_portfoilio1-4" src="modernize/portfolio2.png" alt="portfoilio2">
                    <h6>New Page builder</h6>
                    <p class="p3">Our page builder is the most flexible tool to create a page. We provide much much
                        options for each items, moreover, you can easily manage items via dr
                    </p>
                </div>

                <div class="portfolio_content_boxes">
                    <img class="img_portfoilio1-4" src="modernize/portfolio3.png" alt="portfoilio3">
                    <h6>Access Elements Color</h6>
                    <p class="p3">You can access almost every elements color easily via admin panel.
                        Now creating unique websites is not a big deal anymore! Morbi leo risus, porta ac
                    </p>
                </div>

                <div class="portfolio_content_boxes">
                    <img class="img_portfoilio1-4" src="modernize/portfolio4.png" alt="portfoilio4">
                    <h6>3 Custom Post Types</h6>
                    <p class="p3" >We provide  3 custom post types for most flexibility of usage. We have 
                        portfolio post type which also has its own single page style. Testimonial, you c 
                    </p>
                </div>

                <a class="back_to_top" href="YellowBeltExam(Modernize_nrd).html">Back To Top</a>        

            </div>
        </div>    
    </body>
</html>