<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Quotes by NRD at Coding Dojo!">
    <link rel="stylesheet" href="/static/css/mainNew_stylesheet.css">
    <title>Quotes Main Preview</title>
</head>
<body>
    <main class="outerBox_qmp">
            <img class="qlgreg_prev" src="/static/img/project_snippets/quotes_loginreg.png" alt="quotes_loginreg">
            <img class="qm_prev1" src="/static/img/project_snippets/quotes_main.png" alt="quotes_main">
            <img class="qd_prev2" src="/static/img/project_snippets/quotes_details.png" alt="quote_details">
            <img class="qea_prev3" src="/static/img/project_snippets/quotes_editacct.png" alt="quote_editacct">
            <img class="qerd_prev4" src="/static/img/project_snippets/quotes_erd.png" alt="quotes_erd">
            <a class="returnHome" href="/">Return Home</a>
            <a class="returnHome" href="https://github.com/NDenning78/Copies_of_Code_for_Show/tree/master/quotes_project">See Code on GitHub</a>
    </main>
</body>
</html>